In [5]:
import pickle
import os 
import pandas as pd

In [6]:
file_path = './'
data_set = 'Tongji'
data_file = 'tjh_dataset_formatted.csv'
data_path = os.path.join(file_path, data_set, data_file)
each_cond_data_num = 100

In [7]:
def load_data(path):
    df = pd.read_csv(path)
    return df

data_df = load_data(data_path)

In [8]:
columns = data_df.columns.to_list()
columns

['PatientID',
 'RecordTime',
 'AdmissionTime',
 'DischargeTime',
 'Outcome',
 'LOS',
 'Sex',
 'Age',
 'Hypersensitive cardiac troponinI',
 'hemoglobin',
 'Serum chloride',
 'Prothrombin time',
 'procalcitonin',
 'eosinophils(%)',
 'Interleukin 2 receptor',
 'Alkaline phosphatase',
 'albumin',
 'basophil(%)',
 'Interleukin 10',
 'Total bilirubin',
 'Platelet count',
 'monocytes(%)',
 'antithrombin',
 'Interleukin 8',
 'indirect bilirubin',
 'Red blood cell distribution width ',
 'neutrophils(%)',
 'total protein',
 'Quantification of Treponema pallidum antibodies',
 'Prothrombin activity',
 'HBsAg',
 'mean corpuscular volume',
 'hematocrit',
 'White blood cell count',
 'Tumor necrosis factorα',
 'mean corpuscular hemoglobin concentration',
 'fibrinogen',
 'Interleukin 1β',
 'Urea',
 'lymphocyte count',
 'PH value',
 'Red blood cell count',
 'Eosinophil count',
 'Corrected calcium',
 'Serum potassium',
 'glucose',
 'neutrophils count',
 'Direct bilirubin',
 'Mean platelet volume',
 'ferritin',
 'RBC distribution width SD',
 'Thrombin time',
 '(%)lymphocyte',
 'HCV antibody quantification',
 'D-D dimer',
 'Total cholesterol',
 'aspartate aminotransferase',
 'Uric acid',
 'HCO3-',
 'calcium',
 'Amino-terminal brain natriuretic peptide precursor(NT-proBNP)',
 'Lactate dehydrogenase',
 'platelet large cell ratio ',
 'Interleukin 6',
 'Fibrin degradation products',
 'monocytes count',
 'PLT distribution width',
 'globulin',
 'γ-glutamyl transpeptidase',
 'International standard ratio',
 'basophil count(#)',
 'mean corpuscular hemoglobin ',
 'Activation of partial thromboplastin time',
 'HIV antibody quantification',
 'serum sodium',
 'thrombocytocrit',
 'ESR',
 'glutamic-pyruvic transaminase',
 'eGFR',
 'creatinine']

In [9]:
# 根据列名进行简单的筛选
ans_dict = {}
def filter_columns(data_df, max_column_num):
    import random
    for i in range(1, max_column_num + 1):
        instruct_template  = "please select data from {} datasets which columns' name are in {}"
        column_name_list = random.sample(columns, i)
        instruct = instruct_template.format(data_file, column_name_list)
        data = data_df[column_name_list]
        ans_dict[instruct] = data
for i in range(each_cond_data_num):
    filter_columns(data_df, 3)
print(ans_dict)

{"please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Direct bilirubin']":       Direct bilirubin
0                  4.0
1                  NaN
2                  2.9
3                  5.5
4                  3.6
...                ...
1699               NaN
1700               NaN
1701               9.9
1702               NaN
1703              52.8

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['lymphocyte count', 'Age']":       lymphocyte count   Age
0                 0.80  73.0
1                  NaN  73.0
2                 1.79  73.0
3                 1.32  73.0
4                 2.60  73.0
...                ...   ...
1699               NaN  68.0
1700               NaN  68.0
1701               NaN  68.0
1702               NaN  68.0
1703              0.55  68.0

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Total cholesterol', 'Sex', '(%)lymphocyte']":       Total cholesterol  Sex  (%)lymphocyte
0                  3.90  1.0           22.6
1                   NaN  1.0            NaN
2                  3.81  1.0           25.9
3                  3.65  1.0           10.5
4                  4.62  1.0           28.7
...                 ...  ...            ...
1699                NaN  1.0            NaN
1700                NaN  1.0            NaN
1701               3.79  1.0            NaN
1702                NaN  1.0            NaN
1703               2.20  1.0            6.7

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['glucose']":       glucose
0        7.35
1         NaN
2        5.92
3       17.18
4        6.44
...       ...
1699      NaN
1700      NaN
1701      NaN
1702      NaN
1703    11.27

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['HCO3-', 'Quantification of Treponema pallidum antibodies']":       HCO3-  Quantification of Treponema pallidum antibodies
0      21.2                                             0.05
1       NaN                                              NaN
2      26.7                                              NaN
3      25.6                                              NaN
4      31.0                                              NaN
...     ...                                              ...
1699    NaN                                              NaN
1700    NaN                                              NaN
1701   23.3                                              NaN
1702    NaN                                              NaN
1703   19.7                                              NaN

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['AdmissionTime', 'Urea', 'Interleukin 1β']":      AdmissionTime  Urea  Interleukin 1β
0       2020-01-30   8.5             NaN
1       2020-01-30   NaN             NaN
2       2020-01-30   5.0             NaN
3       2020-01-30   7.6             NaN
4       2020-01-30   6.9             NaN
...            ...   ...             ...
1699    2020-02-08   NaN            25.1
1700    2020-02-08   NaN             NaN
1701    2020-02-08   9.2             NaN
1702    2020-02-08   NaN             NaN
1703    2020-02-08   9.8             NaN

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Sex']":       Sex
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
...   ...
1699  1.0
1700  1.0
1701  1.0
1702  1.0
1703  1.0

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Lactate dehydrogenase', 'Total bilirubin']":       Lactate dehydrogenase  Total bilirubin
0                     306.0              8.3
1                       NaN              NaN
2                     250.0              7.4
3                     200.0             16.6
4                     198.0              9.6
...                     ...              ...
1699                    NaN              NaN
1700                    NaN              NaN
1701                 1252.0             22.7
1702                    NaN              NaN
1703                  783.0             60.0

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['indirect bilirubin', 'Activation of partial thromboplastin time', 'antithrombin']":       indirect bilirubin  Activation of partial thromboplastin time  \
0                    4.3                                        NaN
1                    NaN                                        NaN
2                    4.5                                        NaN
3                   11.1                                       37.9
4                    6.0                                        NaN
...                  ...                                        ...
1699                 NaN                                        NaN
1700                 NaN                                        NaN
1701                12.8                                        NaN
1702                 NaN                                        NaN
1703                 7.2                                       35.8

      antithrombin
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
1699           NaN
1700           NaN
1701           NaN
1702           NaN
1703           NaN

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Total bilirubin']":       Total bilirubin
0                 8.3
1                 NaN
2                 7.4
3                16.6
4                 9.6
...               ...
1699              NaN
1700              NaN
1701             22.7
1702              NaN
1703             60.0

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['basophil(%)', 'procalcitonin']":       basophil(%)  procalcitonin
0             0.3           0.09
1             NaN            NaN
2             0.1            NaN
3             0.1            NaN
4             0.3            NaN
...           ...            ...
1699          NaN            NaN
1700          NaN            NaN
1701          NaN            NaN
1702          NaN            NaN
1703          0.6           2.69

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['mean corpuscular hemoglobin concentration', 'lymphocyte count', 'Direct bilirubin']":       mean corpuscular hemoglobin concentration  lymphocyte count  \
0                                         347.0              0.80
1                                           NaN               NaN
2                                         353.0              1.79
3                                         342.0              1.32
4                                         350.0              2.60
...                                         ...               ...
1699                                        NaN               NaN
1700                                        NaN               NaN
1701                                        NaN               NaN
1702                                        NaN               NaN
1703                                      325.0              0.55

      Direct bilirubin
0                  4.0
1                  NaN
2                  2.9
3                  5.5
4                  3.6
...                ...
1699               NaN
1700               NaN
1701               9.9
1702               NaN
1703              52.8

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['White blood cell count']":       White blood cell count
0                       3.57
1                        NaN
2                       6.90
3                      12.58
4                       9.05
...                      ...
1699                     NaN
1700                    8.00
1701                     NaN
1702                     NaN
1703                    8.25

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['PatientID', 'Thrombin time']":       PatientID  Thrombin time
0           1.0            NaN
1           1.0            NaN
2           1.0            NaN
3           1.0           19.2
4           1.0            NaN
...         ...            ...
1699      375.0            NaN
1700      375.0            NaN
1701      375.0            NaN
1702      375.0            NaN
1703      375.0           14.9

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['HIV antibody quantification', 'PLT distribution width', 'basophil(%)']":       HIV antibody quantification  PLT distribution width  basophil(%)
0                            0.09                    16.3          0.3
1                             NaN                     NaN          NaN
2                             NaN                    12.6          0.1
3                             NaN                    11.9          0.1
4                             NaN                    14.9          0.3
...                           ...                     ...          ...
1699                          NaN                     NaN          NaN
1700                          NaN                     NaN          NaN
1701                          NaN                     NaN          NaN
1702                          NaN                     NaN          NaN
1703                          NaN                     NaN          0.6

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['monocytes count']":       monocytes count
0                0.38
1                 NaN
2                0.50
3                0.62
4                0.81
...               ...
1699              NaN
1700              NaN
1701              NaN
1702              NaN
1703             0.08

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['calcium', 'Fibrin degradation products']":       calcium  Fibrin degradation products
0        2.02                          NaN
1         NaN                          NaN
2        2.25                          NaN
3        2.04                          NaN
4        2.25                          NaN
...       ...                          ...
1699     1.92                          NaN
1700      NaN                          NaN
1701     1.84                          NaN
1702      NaN                          NaN
1703     1.87                          NaN

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['AdmissionTime', 'Total bilirubin', 'monocytes count']":      AdmissionTime  Total bilirubin  monocytes count
0       2020-01-30              8.3             0.38
1       2020-01-30              NaN              NaN
2       2020-01-30              7.4             0.50
3       2020-01-30             16.6             0.62
4       2020-01-30              9.6             0.81
...            ...              ...              ...
1699    2020-02-08              NaN              NaN
1700    2020-02-08              NaN              NaN
1701    2020-02-08             22.7              NaN
1702    2020-02-08              NaN              NaN
1703    2020-02-08             60.0             0.08

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Interleukin 1β']":       Interleukin 1β
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
1699            25.1
1700             NaN
1701             NaN
1702             NaN
1703             NaN

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['fibrinogen', 'ferritin']":       fibrinogen  ferritin
0            NaN       NaN
1            NaN       NaN
2            NaN       NaN
3           3.28       NaN
4            NaN       NaN
...          ...       ...
1699         NaN       NaN
1700         NaN       NaN
1701         NaN       NaN
1702         NaN       NaN
1703        4.45       NaN

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['HIV antibody quantification', 'glucose', 'PH value']":       HIV antibody quantification  glucose  PH value
0                            0.09     7.35    6.7075
1                             NaN      NaN       NaN
2                             NaN     5.92       NaN
3                             NaN    17.18       NaN
4                             NaN     6.44       NaN
...                           ...      ...       ...
1699                          NaN      NaN       NaN
1700                          NaN      NaN    6.5000
1701                          NaN      NaN       NaN
1702                          NaN      NaN    6.5000
1703                          NaN    11.27    6.0000

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Red blood cell count']":       Red blood cell count
0                    2.935
1                      NaN
2                    4.360
3                    4.100
4                    3.960
...                    ...
1699                   NaN
1700                59.000
1701                   NaN
1702                   NaN
1703                 4.910

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Direct bilirubin', 'creatinine']":       Direct bilirubin  creatinine
0                  4.0       130.0
1                  NaN         NaN
2                  2.9        90.0
3                  5.5        99.0
4                  3.6        88.0
...                ...         ...
1699               NaN         NaN
1700               NaN         NaN
1701               9.9        82.0
1702               NaN         NaN
1703              52.8        77.0

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Platelet count', 'antithrombin', 'PH value']":       Platelet count  antithrombin  PH value
0              105.0           NaN    6.7075
1                NaN           NaN       NaN
2              214.0           NaN       NaN
3              168.0           NaN       NaN
4              143.0           NaN       NaN
...              ...           ...       ...
1699             NaN           NaN       NaN
1700             NaN           NaN    6.5000
1701             NaN           NaN       NaN
1702             NaN           NaN    6.5000
1703            17.0           NaN    6.0000

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['PH value']":       PH value
0       6.7075
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
1699       NaN
1700    6.5000
1701       NaN
1702    6.5000
1703    6.0000

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Direct bilirubin', 'RBC distribution width SD']":       Direct bilirubin  RBC distribution width SD
0                  4.0                       40.8
1                  NaN                        NaN
2                  2.9                       39.0
3                  5.5                       40.5
4                  3.6                       40.7
...                ...                        ...
1699               NaN                        NaN
1700               NaN                        NaN
1701               9.9                        NaN
1702               NaN                        NaN
1703              52.8                       46.9

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Amino-terminal brain natriuretic peptide precursor(NT-proBNP)', 'aspartate aminotransferase', 'RBC distribution width SD']":       Amino-terminal brain natriuretic peptide precursor(NT-proBNP)  \
0                                                  60.0
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1699                                                NaN
1700                                                NaN
1701                                              397.0
1702                                                NaN
1703                                             2869.0

      aspartate aminotransferase  RBC distribution width SD
0                           33.0                       40.8
1                            NaN                        NaN
2                           35.0                       39.0
3                           16.0                       40.5
4                           21.0                       40.7
...                          ...                        ...
1699                         NaN                        NaN
1700                         NaN                        NaN
1701                        39.0                        NaN
1702                         NaN                        NaN
1703                        25.0                       46.9

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['mean corpuscular volume']":       mean corpuscular volume
0                        91.8
1                         NaN
2                        91.1
3                        92.7
4                        93.2
...                       ...
1699                      NaN
1700                      NaN
1701                      NaN
1702                      NaN
1703                     97.1

[1704 rows x 1 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['procalcitonin', 'albumin']":       procalcitonin  albumin
0              0.09     33.3
1               NaN      NaN
2               NaN     33.2
3               NaN     32.4
4               NaN     35.9
...             ...      ...
1699            NaN      NaN
1700            NaN      NaN
1701            NaN     25.3
1702            NaN      NaN
1703           2.69     21.3

[1704 rows x 2 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['Interleukin 2 receptor', 'glucose', 'serum sodium']":       Interleukin 2 receptor  glucose  serum sodium
0                        NaN     7.35         137.7
1                        NaN      NaN           NaN
2                        NaN     5.92         142.9
3                        NaN    17.18         139.4
4                        NaN     6.44         140.0
...                      ...      ...           ...
1699                  1524.0      NaN         135.0
1700                     NaN      NaN           NaN
1701                     NaN      NaN         139.9
1702                     NaN      NaN           NaN
1703                     NaN    11.27         139.3

[1704 rows x 3 columns], "please select data from tjh_dataset_formatted.csv datasets which columns' name are in ['fibrinogen']":       fibrinogen
0            NaN
1            NaN
2            NaN
3           3.28
4            NaN
...          ...
1699         NaN
1700         NaN
1701         NaN
1702         NaN
1703        4.45


In [10]:
# 判断每个特征列的类型信息
def check_column_types(df):
    column_types = {}
    for column in df.columns:
        column_data = df[column]
        # 首先检查是否为数值型数据
        if pd.api.types.is_numeric_dtype(column_data):
            unique_values = column_data.dropna().nunique()
            if unique_values <= 10:  # 假设数字种类较少时为类别类型
                column_types[column] = 'Categorical'
            else:
                column_types[column] = 'Numeric'
        else:
            # 对于非数值型数据，尝试将其转换为日期时间类型
            try:
                pd.to_datetime(column_data, errors='raise')
                column_types[column] = 'Datetime'
            except ValueError:
                column_types[column] = 'Other'
    return column_types

check_column_types = check_column_types(data_df)

In [11]:
type_to_columns = {}
for column, cur_type in check_column_types.items():
    type_to_columns.setdefault(cur_type, []).append(column)
type_to_columns

{'Numeric': ['PatientID',
  'LOS',
  'Age',
  'Hypersensitive cardiac troponinI',
  'hemoglobin',
  'Serum chloride',
  'Prothrombin time',
  'procalcitonin',
  'eosinophils(%)',
  'Interleukin 2 receptor',
  'Alkaline phosphatase',
  'albumin',
  'basophil(%)',
  'Interleukin 10',
  'Total bilirubin',
  'Platelet count',
  'monocytes(%)',
  'antithrombin',
  'Interleukin 8',
  'indirect bilirubin',
  'Red blood cell distribution width ',
  'neutrophils(%)',
  'total protein',
  'Quantification of Treponema pallidum antibodies',
  'Prothrombin activity',
  'HBsAg',
  'mean corpuscular volume',
  'hematocrit',
  'White blood cell count',
  'Tumor necrosis factorα',
  'mean corpuscular hemoglobin concentration',
  'fibrinogen',
  'Interleukin 1β',
  'Urea',
  'lymphocyte count',
  'PH value',
  'Red blood cell count',
  'Eosinophil count',
  'Corrected calcium',
  'Serum potassium',
  'glucose',
  'neutrophils count',
  'Direct bilirubin',
  'Mean platelet volume',
  'ferritin',
  'RBC distribution width SD',
  'Thrombin time',
  '(%)lymphocyte',
  'HCV antibody quantification',
  'D-D dimer',
  'Total cholesterol',
  'aspartate aminotransferase',
  'Uric acid',
  'HCO3-',
  'calcium',
  'Amino-terminal brain natriuretic peptide precursor(NT-proBNP)',
  'Lactate dehydrogenase',
  'platelet large cell ratio ',
  'Interleukin 6',
  'Fibrin degradation products',
  'monocytes count',
  'PLT distribution width',
  'globulin',
  'γ-glutamyl transpeptidase',
  'International standard ratio',
  'basophil count(#)',
  'mean corpuscular hemoglobin ',
  'Activation of partial thromboplastin time',
  'HIV antibody quantification',
  'serum sodium',
  'thrombocytocrit',
  'ESR',
  'glutamic-pyruvic transaminase',
  'eGFR',
  'creatinine'],
 'Datetime': ['RecordTime', 'AdmissionTime', 'DischargeTime'],
 'Categorical': ['Outcome', 'Sex']}

In [12]:
def calculate_static_info(data_df, type_to_columns):
    statistic_info  = {}
    for column in data_df.columns:
        if column in type_to_columns['Numeric']:
            statistic_info[column] = {}
            statistic_info[column]['min'] = data_df[column].dropna().min()
            statistic_info[column]['max'] = data_df[column].dropna().max()
            statistic_info[column]['std'] = data_df[column].dropna().std()
            statistic_info[column]['mean'] = data_df[column].dropna().mean()
        elif column in type_to_columns['Datetime']:
            print(column)
            statistic_info[column] = {}
            earliest_time = pd.to_datetime(data_df[column], format= '%Y-%m-%d').min()
            latest_time = pd.to_datetime(data_df[column], format= '%Y-%m-%d').max()
            statistic_info[column]['earliest_time'] = earliest_time
            statistic_info[column]['latest_time'] = latest_time
        elif column in type_to_columns['Categorical']:
            statistic_info[column] = {}
            types = data_df[column].dropna().unique().tolist()
            statistic_info[column]['types'] = types
    return statistic_info

statistic_infos = calculate_static_info(data_df= data_df, type_to_columns= type_to_columns)
statistic_infos

RecordTime
AdmissionTime
DischargeTime

{'PatientID': {'min': 1.0,
  'max': 375.0,
  'std': 103.71568509108091,
  'mean': 165.91784037558685},
 'RecordTime': {'earliest_time': Timestamp('2020-01-10 00:00:00'),
  'latest_time': Timestamp('2020-02-18 00:00:00')},
 'AdmissionTime': {'earliest_time': Timestamp('2020-01-10 00:00:00'),
  'latest_time': Timestamp('2020-02-17 00:00:00')},
 'DischargeTime': {'earliest_time': Timestamp('2020-01-23 00:00:00'),
  'latest_time': Timestamp('2020-03-04 00:00:00')},
 'Outcome': {'types': [0.0, 1.0]},
 'LOS': {'min': 0.0,
  'max': 35.0,
  'std': 6.829252340292876,
  'mean': 7.61443661971831},
 'Sex': {'types': [1.0, 0.0]},
 'Age': {'min': 18.0,
  'max': 95.0,
  'std': 16.32498057724461,
  'mean': 57.499413145539904},
 'Hypersensitive cardiac troponinI': {'min': 1.9,
  'max': 50000.0,
  'std': 5398.389001269163,
  'mean': 1196.0896921017402},
 'hemoglobin': {'min': 6.4,
  'max': 178.0,
  'std': 20.06704063090589,
  'mean': 124.10998942917549},
 'Serum chloride': {'min': 71.5,
  'max': 140.2,
  'std': 7.479001201288771,
  'mean': 102.93504047870469},
 'Prothrombin time': {'min': 11.5,
  'max': 120.0,
  'std': 9.54587898765679,
  'mean': 16.653053435114504},
 'procalcitonin': {'min': 0.02,
  'max': 57.17,
  'std': 4.663411541024338,
  'mean': 1.1066013071895424},
 'eosinophils(%)': {'min': 0.0,
  'max': 8.6,
  'std': 1.072165081522037,
  'mean': 0.6353283898305084},
 'Interleukin 2 receptor': {'min': 61.0,
  'max': 7500.0,
  'std': 795.2217538358904,
  'mean': 914.4064885496183},
 'Alkaline phosphatase': {'min': 17.0,
  'max': 620.0,
  'std': 46.547120995125056,
  'mean': 82.20174482006543},
 'albumin': {'min': 13.6,
  'max': 48.6,
  'std': 6.203731030094692,
  'mean': 32.09597826086956},
 'basophil(%)': {'min': 0.0,
  'max': 1.7,
  'std': 0.2183254081758885,
  'mean': 0.2109639830508475},
 'Interleukin 10': {'min': 5.0,
  'max': 1000.0,
  'std': 69.21662044827038,
  'mean': 16.218646232439337},
 'Total bilirubin': {'min': 2.5,
  'max': 505.7,
  'std': 26.630623863764313,
  'mean': 16.580370774263905},
 'Platelet count': {'min': 4.0,
  'max': 558.0,
  'std': 103.36818140359979,
  'mean': 186.55797872340426},
 'monocytes(%)': {'min': 0.3,
  'max': 35.2,
  'std': 3.8416919454365366,
  'mean': 6.158571428571429},
 'antithrombin': {'min': 20.0,
  'max': 136.0,
  'std': 18.16925692860776,
  'mean': 85.42660550458716},
 'Interleukin 8': {'min': 5.0,
  'max': 6795.0,
  'std': 559.4168573483062,
  'mean': 84.07875318066156},
 'indirect bilirubin': {'min': 0.1,
  'max': 145.1,
  'std': 7.0498550238472415,
  'mean': 6.891610738255034},
 'Red blood cell distribution width ': {'min': 10.6,
  'max': 27.1,
  'std': 1.7234884766557055,
  'mean': 13.057032967032969},
 'neutrophils(%)': {'min': 1.7999999999999998,
  'max': 98.9,
  'std': 16.46489611874999,
  'mean': 77.53395127118642},
 'total protein': {'min': 31.8,
  'max': 88.7,
  'std': 7.5650340652249275,
  'mean': 65.38167938931298},
 'Quantification of Treponema pallidum antibodies': {'min': 0.02,
  'max': 11.95,
  'std': 0.7713212848266717,
  'mean': 0.13223021582733815},
 'Prothrombin activity': {'min': 6.0,
  'max': 142.0,
  'std': 22.090441262717043,
  'mean': 78.80291411042944},
 'HBsAg': {'min': 0.0,
  'max': 250.0,
  'std': 43.004343898129356,
  'mean': 8.336133093525179},
 'mean corpuscular volume': {'min': 61.6,
  'max': 118.9,
  'std': 6.4744831473514814,
  'mean': 90.31626059322032},
 'hematocrit': {'min': 14.5,
  'max': 52.3,
  'std': 5.260745464805917,
  'mean': 36.602277542372875},
 'White blood cell count': {'min': 0.24,
  'max': 1726.6,
  'std': 63.68528503087659,
  'mean': 14.634947916666668},
 'Tumor necrosis factorα': {'min': 4.0,
  'max': 168.0,
  'std': 13.2014959118794,
  'mean': 11.640839694656488},
 'mean corpuscular hemoglobin concentration': {'min': 286.0,
  'max': 514.0,
  'std': 17.343741257577697,
  'mean': 342.7431144067797},
 'fibrinogen': {'min': 0.5,
  'max': 10.78,
  'std': 1.8810593487435212,
  'mean': 4.315544642857144},
 'Interleukin 1β': {'min': 5.0,
  'max': 88.5,
  'std': 7.088517078790025,
  'mean': 6.544274809160305},
 'Urea': {'min': 0.8,
  'max': 68.4,
  'std': 9.440408928539183,
  'mean': 9.502043478260868},
 'lymphocyte count': {'min': 0.0,
  'max': 43.055,
  'std': 1.494221629510223,
  'mean': 0.9789459745762712},
 'PH value': {'min': 5.0,
  'max': 7.565,
  'std': 0.7012943498045304,
  'mean': 6.464819832402235},
 'Red blood cell count': {'min': 0.1,
  'max': 749.5,
  'std': 29.052547926411354,
  'mean': 7.853982747395833},
 'Eosinophil count': {'min': 0.0,
  'max': 0.49,
  'std': 0.061556095570186174,
  'mean': 0.0386864406779661},
 'Corrected calcium': {'min': 1.65,
  'max': 2.79,
  'std': 0.1276566627750349,
  'mean': 2.3541055555555555},
 'Serum potassium': {'min': 2.76,
  'max': 9.86,
  'std': 0.8092579800826486,
  'mean': 4.49629649122807},
 'glucose': {'min': 1.0,
  'max': 43.01,
  'std': 5.168513041898746,
  'mean': 8.83666015625},
 'neutrophils count': {'min': 0.13,
  'max': 33.88,
  'std': 6.058282392191705,
  'mean': 7.772314618644068},
 'Direct bilirubin': {'min': 1.6,
  'max': 360.6,
  'std': 21.41730679482994,
  'mean': 9.771810250817884},
 'Mean platelet volume': {'min': 8.5,
  'max': 15.0,
  'std': 1.087700116870354,
  'mean': 10.90251756440281},
 'ferritin': {'min': 17.8,
  'max': 50000.0,
  'std': 3465.2649635170674,
  'mean': 1387.4843416370106},
 'RBC distribution width SD': {'min': 31.3,
  'max': 113.3,
  'std': 6.257020381418161,
  'mean': 42.35307692307693},
 'Thrombin time': {'min': 13.0,
  'max': 161.9,
  'std': 8.9157779510985,
  'mean': 18.13464285714286},
 '(%)lymphocyte': {'min': 0.0,
  'max': 55.0,
  'std': 12.889055669787204,
  'mean': 15.464021164021164},
 'HCV antibody quantification': {'min': 0.02,
  'max': 2.09,
  'std': 0.2354798808610091,
  'mean': 0.11721223021582731},
 'D-D dimer': {'min': 0.21,
  'max': 60.0,
  'std': 9.194132401638004,
  'mean': 7.8853753993610205},
 'Total cholesterol': {'min': 0.1,
  'max': 7.3,
  'std': 0.9785931338254374,
  'mean': 3.6943409586056646},
 'aspartate aminotransferase': {'min': 7.0,
  'max': 1858.0,
  'std': 100.36184192647755,
  'mean': 45.68770402611534},
 'Uric acid': {'min': 43.0,
  'max': 1176.0,
  'std': 151.42069102417133,
  'mean': 276.31045751633985},
 'HCO3-': {'min': 6.3,
  'max': 36.3,
  'std': 4.360708451489985,
  'mean': 23.170315904139432},
 'calcium': {'min': 1.17,
  'max': 2.62,
  'std': 0.16119753112889487,
  'mean': 2.081328070175439},
 'Amino-terminal brain natriuretic peptide precursor(NT-proBNP)': {'min': 5.0,
  'max': 70000.0,
  'std': 9100.88110743371,
  'mean': 3429.6585106382977},
 'Lactate dehydrogenase': {'min': 110.0,
  'max': 1867.0,
  'std': 365.02017940002,
  'mean': 470.1677559912854},
 'platelet large cell ratio ': {'min': 11.2,
  'max': 62.2,
  'std': 8.56538727474119,
  'mean': 31.7155737704918},
 'Interleukin 6': {'min': 1.5,
  'max': 5000.0,
  'std': 543.028389657931,
  'mean': 113.67669172932331},
 'Fibrin degradation products': {'min': 4.0,
  'max': 190.8,
  'std': 65.53842570255667,
  'mean': 60.928899082568805},
 'monocytes count': {'min': 0.01,
  'max': 36.94,
  'std': 1.2172808599212037,
  'mean': 0.48925317796610174},
 'PLT distribution width': {'min': 8.0,
  'max': 25.3,
  'std': 2.7898293809432597,
  'mean': 12.994613583138175},
 'globulin': {'min': 10.1,
  'max': 50.6,
  'std': 5.514055236236471,
  'mean': 33.251035986913855},
 'γ-glutamyl transpeptidase': {'min': 3.0,
  'max': 732.0,
  'std': 69.32036143317848,
  'mean': 54.9340239912759},
 'International standard ratio': {'min': 0.84,
  'max': 13.48,
  'std': 0.8118541906689242,
  'mean': 1.3101763803680981},
 'basophil count(#)': {'min': 0.0,
  'max': 0.12,
  'std': 0.017001060114974643,
  'mean': 0.016996822033898306},
 'mean corpuscular hemoglobin ': {'min': 20.4,
  'max': 50.8,
  'std': 2.8490652400301055,
  'mean': 30.965730932203392},
 'Activation of partial thromboplastin time': {'min': 21.8,
  'max': 144.0,
  'std': 11.814023177436223,
  'mean': 41.558912655971476},
 'HIV antibody quantification': {'min': 0.05,
  'max': 0.27,
  'std': 0.040104471690950036,
  'mean': 0.1002346570397112},
 'serum sodium': {'min': 115.4,
  'max': 179.6,
  'std': 7.089987122082427,
  'mean': 141.35327349524815},
 'thrombocytocrit': {'min': 0.01,
  'max': 0.51,
  'std': 0.09232935168087365,
  'mean': 0.21310304449648712},
 'ESR': {'min': 1.0,
  'max': 110.0,
  'std': 24.6034532389629,
  'mean': 33.68929503916449},
 'glutamic-pyruvic transaminase': {'min': 5.0,
  'max': 1554.0,
  'std': 67.71089045992231,
  'mean': 37.20152505446623},
 'eGFR': {'min': 2.0,
  'max': 224.0,
  'std': 32.16182996671625,
  'mean': 81.72021739130436},
 'creatinine': {'min': 11.0,
  'max': 1497.0,
  'std': 134.9418032994671,
  'mean': 109.82173913043478}}

In [13]:
def generate_random_time_between(start_time, end_time):
    """
    生成一个在 start_time 和 end_time 之间的随机时间
    :param start_time: 开始时间（datetime 对象）
    :param end_time: 结束时间（datetime 对象）
    :return: 生成的随机时间（datetime 对象）
    """
    import numpy as np
    start_timestamp = pd.Timestamp(start_time).timestamp()
    end_timestamp = pd.Timestamp(end_time).timestamp()
    random_timestamp = np.random.uniform(start_timestamp, end_timestamp)
    random_time = pd.Timestamp.fromtimestamp(random_timestamp)
    return random_time

def filter_columns_by_condition(data_df, ans_dict):
    import random
    for condition_num in range(1, 4):
        total_columns = data_df.columns.to_list()
        columns = random.sample(total_columns, condition_num)
        # print(columns)
        instruct = "please select data from {} which ".format(data_file)
        filter_df = data_df
        for idx, column in enumerate(columns):
            if column in type_to_columns['Numeric']:
                rand1 = random.uniform(statistic_infos[column]['min'], statistic_infos[column]['max'])
                rand2 = random.uniform(statistic_infos[column]['min'], statistic_infos[column]['max'])
                sub_instruct = "the number of column {} is between {} and {}, ".format(column, min(rand1, rand2), max(rand1, rand2))
                filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
            elif column in type_to_columns['Datetime']:
                rand_time1 = generate_random_time_between(statistic_infos[column]['earliest_time'], statistic_infos[column]['latest_time'])
                rand_time2 = generate_random_time_between(statistic_infos[column]['earliest_time'], statistic_infos[column]['latest_time'])
                sub_instruct = "the date of column {} is between {} and {}, ".format(column, min(rand_time1, rand_time2), max(rand_time1, rand_time2))
                filter_df = filter_df[(pd.to_datetime(data_df[column], format= '%Y-%m-%d') < max(rand_time1, rand_time2)) & ( pd.to_datetime(data_df[column], format= '%Y-%m-%d') > min(rand_time1, rand_time2))]
            elif column in type_to_columns['Categorical']:
                types = statistic_infos[column]['types']
                rand_class = random.sample(types, 1)
                sub_instruct = "the type of column {} is {}, ".format(column, rand_class)
                filter_df = filter_df[data_df[column].isin(rand_class)]
            else:
                print("hh")
                continue
            if idx == len(columns) - 1:
                sub_instruct = sub_instruct[: len(sub_instruct) - 2] + '.'
            instruct += sub_instruct
        # print(f"instruct is {instruct}")
        ans_dict[instruct] = filter_df
for i in range(each_cond_data_num):
    filter_columns_by_condition(data_df, ans_dict)

/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(pd.to_datetime(data_df[column], format= '%Y-%m-%d') < max(rand_time1, rand_time2)) & ( pd.to_datetime(data_df[column], format= '%Y-%m-%d') > min(rand_time1, rand_time2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:38: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[data_df[column].isin(rand_class)]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(pd.to_datetime(data_df[column], format= '%Y-%m-%d') < max(rand_time1, rand_time2)) & ( pd.to_datetime(data_df[column], format= '%Y-%m-%d') > min(rand_time1, rand_time2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(pd.to_datetime(data_df[column], format= '%Y-%m-%d') < max(rand_time1, rand_time2)) & ( pd.to_datetime(data_df[column], format= '%Y-%m-%d') > min(rand_time1, rand_time2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:38: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[data_df[column].isin(rand_class)]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]
/tmp/ipykernel_10045/910253778.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filter_df = filter_df[(data_df[column] < max(rand2, rand1)) & (data_df[column] > min(rand1, rand2))]

In [14]:
def clear_folder(folder_path):
    """
    使用 os 和 os.path 模块清空文件夹
    :param folder_path: 要清空的文件夹路径
    """
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        try:
            if os.path.isfile(file_path):
                os.remove(file_path)
        except Exception as e:
            print(f"Failed to delete {file_path}. Reason: {e}")

In [15]:
ans_dir = os.path.join(file_path, 'data_analyse_result')
os.makedirs(ans_dir, exist_ok= True)
clear_folder(ans_dir)
map_file_name = 'question_to_answer.json'
map_file_dict = {}
for idx, (question, df) in enumerate(ans_dict.items()):
    tar_file_name = str(idx) + '.csv'
    tar_file_path = os.path.join(ans_dir, tar_file_name)
    map_file_dict[question] = tar_file_name
    df.to_csv(tar_file_path)
import json
with open(os.path.join(ans_dir, map_file_name), 'w') as file:
    json.dump(map_file_dict, file)